Sight 10
Size 10
Speed 10
StartEnergy 10000

MinFoodPerTick 100
MaxFoodPerTick 200
StartDots 10
Mutagens 0

Ticks 10000
TicksPerLoopPass 100

MapAtStart False
TestgroundAtStart True
PropertiesAtStart False
MapInLoop False
TestgroundInLoop False
PropertiesInLoop True
MapAtEnd True
TestgroundAtEnd False
PropertiesAtEnd True
